{% extends 'base.html' %}
{% block title %} Werokamu
{% endblock %}
{% block content %}
<div class="resolutions">
    <div class="resolutions-head">
        <h3>My Resolutions</h3>
        <a href="{% url 'new' %}">Create</a>
    </div>
    {% for r in reso %}
    <a href="{% url 'delete' r.id %}">

        <div class="reso">
            <p class="c">Created {{r.created_at | timesince }} ago</p>
            <h4>{{r.title}}</h4>
            <p>{{r.description}}</p>
            <div class="timeline">
                <p class="sd">Starts: {{r.start_date}}</p>
                <p class="ed">Ends: {{r.end_date}}</p>
            </div>
        </div>
    </a>
    {% empty %}
        <div class="nothing">
            <h3>oops!</h3>
            <p>You are not serious! No resolutions?</p>
            <a href="{% url 'new' %}">Add One</a>
        </div>
    {% endfor %}
</div>
{% endblock %}