:root {
    --main: #2f80ed;

    --main-b: #2e87a4;
    --bg: #f7f7f7;

    --text: #ffffff;
    --b-bg: #f2f2f2;

    --bx-s: 0 4px 8px rgba(0, 0, 0, 0.1);

    --font-size-a: 14px;
    --font-size-b: 16px;
    --font-size-c: 24px;

}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: var(--b-bg);
}

header {
    width: 90%;
    padding: 1.5rem 5%;
    background: var(--bg);
    box-shadow: var(--bx-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav ul a, a{
    text-decoration: none;
    color: var(--main-b);
}

header nav ul a li {
    list-style-type: none;
}

header h2 {
    display: inline-block;
    font-size: 28px;
    background: linear-gradient(180deg, #2f80ed, #56ccf2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 2;
}

header h2::before {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(180deg, #2f80ed, #56ccf2);
    position: absolute;
    inset: 50% 50% 0 0;
    transform: rotate(-15deg);
    mix-blend-mode: difference;
    border-radius: 30px;
    animation: shake 1s linear;
    /* top: 50%; */
}

@keyframes shake {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

.container {
    width: 90%;
    padding: .5rem 5%;
    margin-top: 10px;
    /* height: 100%; */
    /* height: 100dvh; */
    /* background: red; */
}

.form-holder {
    width: 100%;
    height: 500px;
    /* background: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-holder form {
    width: 320px;
    height: auto;
    background: var(--bg);
    padding: 25px 20px;
    box-shadow: var(--bx-s);
    border-radius: 0 20px 0 20px;
}

.form-holder form h3 {
    text-align: center;
    color: var(--main);
}

.form-holder form label {
    display: block;
    margin-bottom: .5rem;
}

.form-holder form .form-control {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem 10px;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid var(--main);
    outline: none;
}

.form-holder form .helptext {
    display: none;
}

.form-holder form .btn-holder {
    width: 100%;
    height: 2pc;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.form-holder form button {
    padding: 0 25px;
    background: var(--main);
    height: 2pc;
    color: var(--text);
    font-size: var(--font-size-b);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-holder form p {
    text-align: center;
}

.messages {
    width: 200px;
    height: 4pc;
    padding: 10px 1rem;
    position: absolute;
    inset: 15% 0 0 5%;
    display: none;
    align-items: center;
    color: var(--text);
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.messages.active {
    display: flex;
}

.msg-title {
    text-transform: uppercase;
    font-weight: 600;
}

.messages.success {
    background: rgb(1, 155, 1);
}

.messages.error {
    background: rgb(177, 6, 6);
}

.errorlist {
    font-size: var(--font-size-a);
    color: red;
    list-style-type: none;
}

.resolutions {
    width: 90%;
    padding: 20px 5%;
    /* height: 100px; */
    background: var(--b-bg);
    box-shadow: var(--bx-s);
    border-radius: 5px;
}

.resolutions .resolutions-head h3 {
    color: var(--main);
    font-size: var(--font-size-c);
    /* text-align: center; */
}

.resolutions-head {
    display: flex;
    align-items: center;
    height: 2pc;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--main-b);
}

.nothing {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.reso {
    width: 100%;
    margin: 10px 0;
    display: flex;
    padding: 10px 0;
    /* align-items: center; */
    gap: 10px;
    flex-direction: column;
    border-bottom: 1px solid #000;
}

.reso h4 {
    color: #2f80ed;
}

.reso .c {
    font-size: var(--font-size-a);
}

.reso .timeline {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 5%;
    justify-content: space-between;
    background: var(--main-b);
    color: var(--text);
    font-size: var(--font-size-a);
}


